/* flexbox usage in reference to css-tricks webpage
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
Chris Coyier (2016)
Full reference in README*/

/* Colours used (Hex values) are from Google material colour pallette
Google (2017)
https://material.io/guidelines/style/color.html#
Full reference in  README */

html
{
  font-family: 'Slabo 27px', serif; /*From google web fonts*/
  /*set a background colour*/
  background-color : white;
  display : flex;
  justify-content : center;
  flex-direction: column;
  background-color : #263238;
}

header
{
  /*set a background colour*/
  background-color : #263238;
  width : 100%;
  height : 5em;
  display : flex;
  justify-content : center;
  align-items : center;
}

nav
{
  /*set a background colour*/
  background-color : #37474F;
  width : 100%;
  height : 3em;
  display : flex;
  justify-content : space-around;
  align-items : center;
}

body
{
  /*set a background colour*/
  background-color : black;
  height : 100%;
}

footer
{
  /*set a background colour*/
  background-color : #263238;
  width : 100%;
  height : 5%;
  display : flex;
  justify-content : space-around;
  align-items : center;
}

form
{
  display : flex;
  flex-direction : column;
  text-align : center;
}

/* code to remove link styling from Stackoverflow forum user
Frxstrem (2012)
http://stackoverflow.com/questions/8919682/remove-all-styling-formatting-from-hyperlinks
Full reference in README
*/

a
{
  /*set text colour*/
  color : inherit;
  /*remove any hyperlink effects e.g undeline */
  text-decoration : none;
}

/* classes */
.header-text
{
  display : flex;
  justify-content : center;
  align-items : center;
  /*set text colour*/
  color : #ECEFF1;
  font-size : 1em;
}

.nav-button
{
  display : flex;
  justify-content : center;
  align-items : center;
  height : 3em;
  /*set text colour*/
  color : #ECEFF1;
  /*set a size for the font */
  font-size : 1.2em;
}

.image-area
{
  /*set the size of the area the image will be displayed*/
  width : 100%;
  height : 25em;
}

.profile-image-area
{
  /*set the size of the area the image will be displayed*/
  width : 10em;
  height : 13em;
}

.profile-image
{
  /*set width and height of the image (within the image area) (fill 100%) */
  width : 100%;
  height : 100%;
}

.main-image
{
  /*set width and height of the image (within the image area) (fill 100%) */
  width : 100%;
  height : 100%;
}

.content-area
{
  /*set a background colour*/
  background-color : #ECEFF1;
  width : 100%;
  height : 100%;
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content : flex-start;
}

.content-title
{
  /*set a size for the title contents font */
  font-size : 1.5em;
}

.content-split
{
  display : flex;
  align-items : center;
  justify-content : center;
}

.content-block
{
  /*set a size for the standard content font */
  font-size : 1em;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  padding-bottom : 20px;
  padding-right : 5em;
  padding-left : 5em;
}

.content-column
{
  display : flex;
  flex-direction : column;
  justify-content : flex-start;
  align-items : center;
}
.footer-item
{
  /*set text colour*/
  color : #ECEFF1;
}

/* Media query code created with aid of w3schools.com - CSS3 @Media Rule
http://www.w3schools.com/cssref/css3_pr_mediaquery.asp
w3schools (2017)
Full reference in README */

/*if screen width is less than 1100px */
@media screen and (max-width : 1100px)
{
  .content-split
  {
    /*content is no longer split into two columns*/
    flex-direction : column;
  }
}

/*if screen width is less than 400px */
@media screen and (max-width : 600px)
{
  footer
  {
    /*cfooter info is displayed in acolumn instead of a row*/
    flex-direction : column;
  }
  nav
  {
    /*cfooter info is displayed in acolumn instead of a row*/
    flex-direction : column;
    /*change content height*/
    height : 15em;
  }
  .image-area
  {
    /*reduce the height of the main image*/
    height : 15em;
  }
}
