html
{

}

body
{
  background-color : white;
  display : flex;
  justify-content : center;
  align-items : flex-start;
}

.header
{
  background-color : #3F51B5;
  width : 100px;
  height : 100px;
}
